headerMargin {
    margin-top: 70px; 
}

element.style {
    background-image: url(https://unsplash.it/1900/1080?image=1076);
}
.bg-image-full {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
