<div class="container"> 
    <h1>Credit Journey</h1>
 		<!-- Header - set the background image for the header in the line below -->
		<header _ngcontent-c2="" class="py-5 bg-image-full" style="filter: contrast(80%); background-image: url('https://unsplash.it/1900/1080?image=1076');">
		     <img _ngcontent-c2="" alt="" height="200px" src="https://i0.wp.com/norwestcoop.ca/wp-content/uploads/2017/06/person.png?w=1620&amp;ssl=1" style="margin-left:20px; border-radius: 50%;" width="200px">
		<div style="display: inline-block; font-size:1.5em;">
		<font color="white">
		        John Doe<br>
		        Software Developer
		</font>
		</div>   
		</header>
    
    	<!-- Content section -->
    	<section class="py-5">
    	  <div class="container">
    	    <h1>Professional Income</h1>
    	    <p class="lead">Check your working income</p>
    	    
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12" id = "professionalIncomeChart">
                        <h3 class="text-center">Professional Income</h3>
                    </div>                                  
            </div>       
            
    	  </div>
    	</section>
    
    	<!-- Image Section - set the background image for the header in the line below -->
    	<section class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1081');">
    	  <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
    	  <div style="height: 200px;"></div>
    	</section>
    
    	<!-- Content section -->
    	<section class="py-5">
    	  <div class="container">
    	    <h1>List of Recognized Accreditations</h1>
    	    	<ul class="lead">
    	    		<li>PMP® Certification</li>
    	    		<li>Singapore Certified Management Consultants</li>
    	    		<li>Member of Mensa Singapore</li>
    	    	</ul>
    	  </div>
    	</section>
    
    	<!-- Bootstrap core JavaScript -->
    	<script src="vendor/jquery/jquery.min.js"></script>
    	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
     </div>
    