<nav class="navbar navbar-expand-lg .navbar-fixed-top navbar-light bg-light" style="background-color: #C0C0C0;">
    <a class="navbar-brand" href="#">
        <img src={{banner}} width="60" height="60" class="d-inline-block" alt="">
        CreditUp
      </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/financialPlanning">Financial Planning <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Invoicing Tool
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/invoice">All Invoices</a>
              <a class="dropdown-item" href="/createinvoice">Create Invoice</a>
            </div>
          </li>

          <li class="nav-item active">
              <a class="nav-link" href="/creditJourney">Credit Journey <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accounts
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/account">All Accounts</a>
                <a class="dropdown-item" href="/addAccount">Add New Account</a>
              </div>
            </li>
      </ul>
    </div>
  </nav>