<div class="container"> 
  <h1>Add A New Bank Account</h1>
  <form method="post">

   <div class="form-group ">
    <label class="control-label " for="text1">
     Choose A Bank
    </label>

    <div class="dropdown">
      <input #selectedBankTag [(ngModel)]="selectedBank" style="display: none"  class="form-control" id="selectedBank" name="selectedBank" type="text"/>
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width: 10%;">
        Select..
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li>
            <span style="margin-left: 10px; padding-right:10px; padding-top: 3px; display:inline-block;"><img src="assets/images/citi_thumbnail.png"></span>
            <span class="hover-text" style="vertical-align: middle; font-size: 15px"><button class="selection-item" onclick="$('#dropdownMenu1').html('Citibank');$('#selectedBank').val('Citibank');">Citibank</button></span>
        </li>
        <li>
            <span style="margin-left: 10px; padding-right:10px; padding-top: 3px; display:inline-block;"><img src="assets/images/dbs_thumbnail.png"></span>
            <span class="hover-text" style="vertical-align: middle; font-size: 15px"><button class="selection-item" onclick="$('#dropdownMenu1').html('DBS');$('#selectedBank').val('DBS');">DBS</button></span>
        </li>
        <li>
            <span style="margin-left: 10px; padding-right:10px; padding-top: 3px; display:inline-block;"><img src="assets/images/hsbc_thumbnail.png"></span>
            <span class="hover-text" style="vertical-align: middle; font-size: 15px"><button class="selection-item" onclick="$('#dropdownMenu1').html('HSBC');$('#selectedBank').val('HSBC');">HSBC</button></span>
        </li>
        <li>
            <span style="margin-left: 10px; padding-right:10px; padding-top: 3px; display:inline-block;"><img src="assets/images/uob_thumbnail.png"></span>
            <span class="hover-text" style="vertical-align: middle; font-size: 15px"><button class="selection-item" onclick="$('#dropdownMenu1').html('UOB');$('#selectedBank').val('UOB');">UOB</button></span>
        </li>
      </ul>
    </div><br>
    <button class="btn btn-primary " name="submit" type="submit" (click)="submit()">
      Add
    </button>  
   </div>
  </form>
</div>


