.hover-text:hover {
    /*background-color: rgb(239, 239, 239);*/
}

.dropdown-toggle::after {
    margin-left: 1.2em;
}

.selection-item{
    background: transparent;
    border: none;
    width: 65%;
    text-align: left;
}