<div class="container headerMargin"> 
<h1>Income Management</h1>
</div>

    <div class="col-lg-12 col-sm-12">
	    <div id="content"> 
            <div class="row">
                    <div class="col-lg-4 col-sm-4" id = "totalAsset">
                        <h3 class="text-center">Total Asset</h3>
                    </div>                   
                    <div class="col-lg-4 col-sm-4" id = "totalLiability">
                        <h3 class="text-center">Total Liability</h3>
                    </div>
                    <div class="col-lg-4 col-sm-4" id = "networth">
                        <h3 class="text-center">Net Worth</h3>
                    </div>                
            </div>           
            <div class="row">
                <div class = "col-lg-12 col-sm-12" id = "timeSeriesIncomeAnalysis"></div>
            </div>
            <div class="row">
                    <div class="col-lg-6 col-sm-6" id = "expPieChart"></div>                   
                    <div class="col-lg-6 col-sm-6" id = "catMonthAveChart"></div>
            </div>    
        </div>
       <br>
       <br>
       <br>
        <div class="row">
                    <div class="col-lg-12 col-sm-12" id = "goalPlanningSession">
                        <h1 class="text-center">Goal Planning & Financial Analysis</h1>
                    </div>                                 
        </div> 
        <div class="row">
                <div class="col-lg-12 col-sm-12" id = "compareToGoalChart">
                    </div>                                 
                </div>
    </div>
