<div class="container"> 
  <h1>View Invoice</h1>
  <form method="post">
   <div class="form-group ">
    <label class="control-label requiredField" for="date">
     Date
    </label>
    <input class="form-control" id="date" name="date" placeholder="DD/MM/YYYY" type="text" value="{{selectedInvoice.paymentDueDate}}" disabled/>
   </div>
   <div class="form-group ">
    <label class="control-label requiredField" for="name">
     Client Name
    </label>
    <input class="form-control" id="name" name="name" type="text" value="{{selectedInvoice.clientName}}" disabled/>
   </div>
   <div class="form-group ">
    <label class="control-label requiredField" for="name">
     Client Name
    </label>
    <input class="form-control" id="name" name="name" type="text" value="{{selectedInvoice.clientEmail}}" disabled/>
   </div>
   <div class="form-group ">
    <label class="control-label " for="text1">
     Job Description
    </label>
    <input class="form-control" id="text1" name="text1" type="text" value="{{selectedInvoice.jobDesc}}" disabled/>
   </div>
   <div class="form-group ">
    <label class="control-label requiredField" for="text">
     Total
    </label>
    <input class="form-control" id="text" value="0.00" name="text" type="number" value="{{selectedInvoice.total}}" disabled/>
   </div>
   <div class="form-group">
    <div>
     <button class="btn btn-warning " name="submit" type="submit" (click)="onClick()">
      Send Payment Reminder
     </button>
    </div>
   </div>
  </form>
</div>


