

.carousel,
.item,
.active {
    position: relative;
    height: 100%;
    max-height: 600px;
    /* margin-bottom: -100px; */
    margin-top: -20px;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100vh;
    max-height: 1000px;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}