.btn-primary {
/*    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    height: 16px;
     margin-bottom: 10px; 
    font-size: 8pt;
    vertical-align: middle;
    padding-bottom: 20px;
    margin-left: 67%;*/
}