<div class="container"> 
  <h1>Accounts</h1>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">$ {{totalBal}}</h1>
      <p class="lead">Total Balances Across All Accounts</p>
    </div>
  </div>

  <div *ngIf="bankAcctAdded" class="table-responsive">
    <div>
      <div style="display:inline-block;"><h4>Bank: Citibank</h4></div>
      <div>
         <button class="btn btn-primary " name="submit" type="submit" onclick="window.location.replace('https://sandbox.apihub.citi.com/gcb/api/authCode/oauth2/authorize?response_type=code&client_id=ea1616cd-49aa-4229-b698-29e6536f46d3&scope=accounts_details_transactions customers_profiles&countryCode=US&businessCode=GCB&locale=en_US&state=12093&redirect_uri=https://127.0.0.1:3000/accounts/retrieve');">
          Refresh Balances
         </button>
      </div>
      <h5>Description: Here are all my Citibank current accounts</h5>
      <hr>
    </div>

    <table class="table table-hover invoices">
      <thead>
        <tr>
          <th scope="col">Account Name</th>
          <th scope="col">Currency</th>
          <th scope="col">Description</th>
          <th scope="col">Current Balance</th>
          <th scope="col">Available Balance</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let account of datalist">
          <td>{{account.displayAccountNumber}}</td>
          <td>{{account.currencyCode}}</td>
          <td>{{account.productName}}</td>
          <td>{{account.availableCredit}}</td>
          <td>{{account.availableCredit}}</td>
        </tr>          
      </tbody>
    </table>
    <hr style="border: 0; border-top: 3px double #8c8c8c;">
  </div>


  <div class="table-responsive">
    <div>
      <div style="display:inline-block;"><h4>Bank: DBS</h4></div>
      <div>
         <button class="btn btn-primary " name="submit" type="submit" href="https://sandbox.apihub.citi.com/gcb/api/authCode/oauth2/authorize?response_type=code&client_id=ea1616cd-49aa-4229-b698-29e6536f46d3&scope=accounts_details_transactions customers_profiles&countryCode=US&businessCode=GCB&locale=en_US&state=12093&redirect_uri=https://127.0.0.1:3000/accounts/retrieve">
          Refresh Balances
         </button>
      </div>
      <h5>Description: Here are all my DBS savings accounts</h5>
      <hr>
    </div>

    <table class="table table-hover invoices">
      <thead>
        <tr>
          <th scope="col">Account Name</th>
          <th scope="col">Currency</th>
          <th scope="col">Description</th>
          <th scope="col">Current Balance</th>
          <th scope="col">Available Balance</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Savings Account</td>
          <td>SGD</td>
          <td>To pay SP GIRO</td>
          <td>1200</td>
          <td>1200</td>
        </tr>          
      </tbody>
    </table>
  </div>

</div>
